<h2>New Apartment Inquiry</h2>

<p><strong>Name:</strong> <%= @data[:name] %></p>
<p><strong>Email:</strong> <%= @data[:email] %></p>
<p><strong>Phone:</strong> <%= @data[:phone] %></p>

<p><strong>Contact preference:</strong> <%= @data[:contact_method] %></p>
<p><strong>Request type:</strong> <%= @data[:request_type] %></p>

<hr>

<p><strong>Message:</strong></p>
<p><%= @data[:message] %></p>
